	body { background-color: #FFF; font: 12px 'Syncopate', sans-serif;}
	#draw { height: 200px; }
    #synthbox { 
        position:relative; background: #FFF; height:100px; width:355px; border: 3px solid blue; border-radius: 10px}
    .loaded#synthbox { border-color: #AAA;}
    .error#synthbox { border-color: red;}
    select { width: 80px; }
